<body class="background">
<div class="container center-element" style="margin-top: 8%">
<%= image_tag "Maestro_Logo_Large.png"%>

<p class="text-white-large", style="margin-top: 5%; margin-bottom: 4%;">
Thanks for registering!
<br/>
Now you can:
<li class="text-white-large">View wedding photos</li>  
<li class="text-white-large">Upload your own photos</li> 
<li class="text-white-large">Purchase photos</li>       
</p>

<%= link_to "Let's get started", root_path, class: "landing-button btn-block", style:"padding 5px; margin-top: 5%;" %>
</div>
</body>

