<body class="background">
<div class="container center-element" style="margin-top: 8%">
<%= image_tag "Maestro_Logo_Large.png"%>

<p class="text-white-large", style="margin-top: 5%; margin-bottom: 4%;">
Thanks for subscribing!
<br/>
Now you can:
<li class="text-white-large">Upload and manage your digital life</li>  
<li class="text-white-large">Stream your favorite content on all of your devices</li> 
<li class="text-white-large">Access your media anywhere, anytime</li>       
</p>

<%= link_to "Let's get started", current_user, class: "landing-button btn-block", style:"padding 5px; margin-top: 5%;" %>
</div>
</body>

