<!DOCTYPE html> 
<html> 
<body class="background">

<div class="container center-element" style="margin-top: 50px;">

<video width="400" controls>
  <source src="<%=@movie.video%>" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<div style="margin-top: 10px;">
<%= link_to raw('<span class="back-arrow-text text-white position-left">Back</span>'), {:controller => 'users', :action => 'movies'}, style: "margin-top: 25%; font-size:15px; "%>
</div>

</div>
</body> 
</html>

