<div class="left">
  <ul>
	<li data-no-turbolink><%= link_to raw('<span title="Photos" style="margin-top: 85px;" class="glyphicon glyphicon-camera vertical-nav-glyph"></span> <br/>'),{:controller => 'users', :action => 'photos'} %></li> 
	<li data-no-turbolink><%= link_to raw('<span title="Music" style="margin-top: 50px;" class="glyphicon glyphicon-music vertical-nav-glyph"></span> <br/>'),{:controller => 'users', :action => 'songs'}%></li> 
	<li data-no-turbolink><%= link_to raw('<span title="Movies" style="margin-top: 50px;" class="glyphicon glyphicon-film vertical-nav-glyph"></span> <br/>'),'#'%></li> 
	<li data-no-turbolink><%= link_to raw('<span title="Documents" style="margin-top: 50px;" class="glyphicon glyphicon-file vertical-nav-glyph"></span> <br/>'),'#'%></li> 
  </ul>
</div>

