<h1 style="margin-top: 50px; padding: 5px; color: black;">Welcome</h1>
<p style="padding: 5px; color: black;">To start using Maestro choose one of the media types from the side menu, and then
from the top navigation bar choose the upload media button.</p>