<body class="background">
<div class="container center-element" style="margin-top: 8%">
<%= image_tag "maestrologo.png"%>

		  
		  <%= link_to 'Sign In', new_user_session_path, class: "landing-button btn-block", style:"padding 5px; margin-bottom: 2%; margin-top: 20px;" %>
		  <%= link_to 'Register', new_user_registration_path, class: "landing-button btn-block", style:"padding 5px; margin-bottom: 4%;" %>
		  <%= link_to 'Learn More', new_user_registration_path, class: "landing-button btn-block", style:"padding 5px;" %>
		        
  </li>
</div>
</body>