<body class="background">
	<div class="container center-element" style="margin-top: 8%">
		<%= image_tag "Maestro_Logo_Large.png"%>
				<div class="type">
					$9.99/Month
				</div>
					<div class="plan">
						<div class="content">
							<ul>
								<li>1TB Storage</li>
								<li>Upload Photos, Music & Videos</li>
								<li>Stream on Mobile Devices</li>
								<li>Watch Anywhere</li>
							</ul>
						</div>
						<div class="subscribe-pane">
				      		<%= render 'form' %>
						</div>
					</div>
				</div>
		</div>
</body>

