// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ********************************************************************
**                        Rails Links                                **
**********************************************************************/
a {
color: #30a2e4 !important;	/*A links or ruby link_to*/
}

a:hover {
color: #CCC !important;	/*A links or ruby link_to*/
text-decoration: none;
}


.background-grey {
    background-color: #ccc ;
}

.background {
  background-color: #30A2E4 !important;
}

.landing-button {
  -webkit-appearance: none;
  -webkit-box-shadow: 2px 2px 5px #888888; 
  -moz-box-shadow: 2px 2px 5px #888888;
  box-shadow: 2px 2px 5px #888888;
  margin-top: 1%;
  padding: 3px;
  border: solid 3px #FFF;
  border-radius: 6px;
  background-color: #FFF !important;
  color: #F7CA18;
  font-size: 19px;
  text-decoration: none;
}

  .landing-button:hover {
    color: #ccc !important; /*A links or ruby link_to*/
    text-decoration: none;
  }