


.sub-header {
	margin-top: 50px;
	margin-bottom: 10px;
	width: 100%;
	height: 30px;
	background-color: #333 !important;
}

.photos-collection-container {
	margin-left: 50px;
}

.collection-count {
	padding-top: 5px;
	color: #fff !important; 
	margin-left: 65px;
}