#pins {
  color: #FE2E2E;
  margin: 0 auto;
  border-radius: 5px !important;
}

.box{
margin: 5px;
}

.box img {
  object-fit: cover;
  width: 100px !important;
  height: 100px !important;
  border-radius: 5px;
}

@media only screen and (max-device-width: 480px) {
#pins {
  margin: 0;
  border-radius: 0px !important;
}

.box img {
  width: 100%;
  background-color: black;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.box{
  //border: 0px solid black;
  border: 0px solid #FF9400;
  border-radius: 5px !important;
  margin: 7px;
  width: 149px;
  background-color: black;
}

}