
<div class="mobilenav" style="margin-top: 40px;">
    <div class="col-xs-6">  
      <li data-no-turbolink><%= link_to raw('<span class="glyphicon glyphicon-off glyph-white"></span> <br/>Log Out'),destroy_user_session_path, class: "link-text"%></li> 
    </div>
</div> 


 
<nav class="background header-container">
    <%= image_tag "Maestro_Logo_Small.png", class:"header-logo"%>


    <% if params[:action] == 'show' %>
        <h3 class="header-text">Dashboard</h3>
    <% end %>
     
</nav>
    <a href="javascript:void(0)" class="icon"> 
       <div class="hamburger"> 
         <div class="menui top-menu"></div> 
         <div class="menui mid-menu"></div> 
         <div class="menui bottom-menu"></div> 
       </div> 
    </a>
